@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0%;
  padding: 0%;
}
.hero{
  width: 100%;
  height: 50vh;
  background:  linear-gradient(#bedadfc4, #9ea6d31a), url(../img/blog\ main\ img.jpg);
  background-attachment: fixed;
      background-size:cover;
      background-repeat: no-repeat;
}
header {
    width: 100%;
    height: 430px;
    /* background-image: linear-gradient(#517e86c4, #2c3ea81a);
  
    background-size: cover;
    background-repeat: no-repeat; */
  }
  

navbar {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(10, 9, 9);
  height: 59px;
}

.logo img {
  position: absolute;

  top: 20px;
  left: 70px;
  width: 160px;
  cursor: pointer;
  filter: invert(100);
}

nav ul li {
  display: inline-block;
  position: relative;
  margin: 20px 30px;
  top: 10px;
}

ul li a {
  color: white;
  text-transform: capitalize;

  font-size: 16px;
  font-family: "Bebas Neue", cursive;
  padding-left: 20px;
  text-decoration: none;
}

li:hover a {
  color: white;
  text-decoration: underline rgb(211, 177, 177);
  transition-delay: 0.1s;
}

.container h1{
    margin: -15.5% 45%;
    font-size: 60px;
    color: rgb(82, 78, 78);
    font-family: 'Secular One', sans-serif;
    font-style: italic;
    font-weight: 200;

}
.container h5{
    position: absolute;
  margin: 14% auto;
  text-align: center;
  left: 710px;
  font-size: 17px;
}
#horiLine{
    position: absolute;
    top: 31.5%;
    width: 600px;
    left: 480px;
    border-top: 3px solid rgb(1, 206, 233)   ;
  
}



.container-content{ 
    position: absolute;
      width: 320px;
      height: 380px;
     margin: -6% 10%;
      background-color: white;
      cursor: pointer;
      border: 0.2px solid rgb(233, 225, 226);
  
  }
  .container-content:hover{
    transform: scale(1.005);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;  
  
  }

  #featured-heading{
    color: rgb(77, 107, 107);
    font-size: 30px;
    font-weight: 400;
    margin: 7px 15px;
    font-style: italic  ;
  }

  .container-content #feature-ul .feature-li{
    color: rgb(21, 19, 19);
    padding-top: 20.5px;
    list-style: none;
  }
  .container-content #feature-ul .feature-li span{
    float: right;
    color: rgb(130, 130, 241);
    margin-right: 25px;
  }

  .images #firstImage {
    position: absolute;
    width: 30%;
    left: 37%;
    top: 55%;
    border: 5px solid rgb(219, 218, 218);
    border-radius: 10px;
  }

  .content-card {
    width: 20rem;
    height: 150px;
    border: 3px solid rgb(242, 234, 234);
    background-color: whitesmoke;
    position: absolute;
    margin: 4.5% 68%;
  }
  .content-card .content1{
    margin-top: 50px;
    font-size: 16px;
    text-align: center;
    color: rgba(120, 9, 9, 0.86);
    font-family: 'Hubballi';
  }

.blogimage2 #secondImage{
  width: 30%;
  border: 5px solid rgb(219, 218, 218);
  border-radius: 10px;
  position: absolute;
  margin-top: 25%;
  margin-left: 67%;
}


.content-card2   {
  width: 20rem;
  height: 150px;
  border: 3px solid rgb(242, 234, 234);
  background-color: whitesmoke;
  position: absolute;
  margin: 30% 40%;
}
.content-card2 .content2{
  margin-top: 50px;
  font-size: 16px;
  text-align: center;
  color: rgba(120, 9, 9, 0.86);
  font-family: 'Hubballi';
 
}

.blogimage3 #thirdImage{
  width: 30%;
  height: 320px;
  /* height: 200px; */
  border: 5px solid rgb(219, 218, 218);
  border-radius: 10px;
  position: absolute;
  margin-top: 24%;
  margin-left: 5%;
}

.second-main-fixed{
  width: 100%;
  height: 70vh;
  background:  linear-gradient(#bedadfc4, #9ea6d31a), url(../img/second\ main\ blog.jpg);
  background-attachment: fixed;
      background-size:cover;
      margin-top: 20%;
   
      
      background-repeat: no-repeat;
}


/* footer */

footer{
  position: relative;
  top: -50px;
}
.footerHome{
  position: absolute;
  background-color: #302d2d;
  margin-top: 5%;
  height: 540px;
  width: 100%;
display: flex;
justify-content: space-around;
cursor: pointer;
  
 }

 .footerflex{
  font-weight: 400;
  color: rgb(250, 244, 244);
  font-size: 20px;
  text-transform: capitalize;
  margin-top: 15px;
 }
 #footerlist .footerr{
  list-style: none;
  padding: 5px 0;
 }

 #footerlist .footerr a{
  position: relative;
  top: 30px;
  left: -50px;
   text-transform: capitalize;
   font-size: 16px;
   color: white;
  }

  .footerr:hover a{
    color: white;
    text-decoration: white;
  }

.copywrite{
  position: absolute;
  color: white;
  font-weight: bold;
  left: 44%;
  top: 500px;
}
