@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0%;
  padding: 0%;
}
.hero{
  width: 100%;
  height: 70vh;
  background:  linear-gradient(#bedadfc4, #9ea6d31a), url(../img/humanity-main.jpg);
  background-attachment: fixed;
      background-size:cover;
      background-repeat: no-repeat;
}
header {
    width: 100%;
    height: 430px;
    /* background-image: linear-gradient(#517e86c4, #2c3ea81a);
  
    background-size: cover;
    background-repeat: no-repeat; */
  }
  

navbar {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(10, 9, 9);
  height: 59px;
}

.logo img {
  position: absolute;

  top: 20px;
  left: 70px;
  width: 160px;
  cursor: pointer;
  filter: invert(100);
}

nav ul li {
  display: inline-block;
  position: relative;
  margin: 20px 30px;
  top: 10px;
}

ul li a {
  color: white;
  text-transform: capitalize;

  font-size: 16px;
  font-family: "Bebas Neue", cursive;
  padding-left: 20px;
  text-decoration: none;
}

li:hover a {
  color: white;
  text-decoration: underline rgb(211, 177, 177);
  transition-delay: 0.1s;
}

.container h1{
    margin: -21% 43%;
    font-size: 50px;
    color: black;
    font-family: 'Secular One', sans-serif;
    font-style: italic;
    font-weight: 200;

}
.container h5{
    position: absolute;
  margin: 18.5% auto;
  text-align: center;
  left: 680px;
  font-size: 15px;
}
#horiLine{
    position: absolute;
    top: 40%;
    width: 600px;
    left: 480px;
    border-top: 3px solid rgb(224, 78, 5)   ;
  
}



section{
    position: relative;
    top: 150px;
  }
  
  
  
  /* images */
  
  #container-image-text{
    cursor: pointer;
    
  }
  
  
  
  #container-image-text .img1 #imagecourse{
    display: flex;
    justify-content: space-between;
  }
  
  .container-image-box img{
    width: 380px;
    height: 250px;
    cursor: pointer;
    /* border: 3px  solid red; */
  }
  
  .image-text-box:nth-child(1){
    width: 330px;
    height: 180px;
   cursor: pointer;
    /* background-color: red; */
    margin-left: -49px;
    margin-top: -5.5%;
  
    border: 0.2px solid rgb(232, 223, 223);
    background-color: rgb(255, 255, 255);
  }
  .image-text-box:nth-child(1):hover{
    transform: scale(1.005);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;  
   
  }
  .image-text-box:nth-child(2):hover{
    transform: scale(1.005);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;  
   
  }
  .image-text-box:nth-child(3):hover{
    transform: scale(1.005);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;  
   
  }
  .image-text-box:nth-child(2){
    width: 330px;
    height: 180px;
    position: relative;
    margin-top: -5.5%;
    cursor: pointer;
    left: -0.5px;
    border: 0.2px solid rgb(232, 223, 223);
    background-color: rgb(255, 255, 255);
  }
  .image-text-box:nth-child(3){
    width: 330px;
    height: 180px;
    cursor: pointer;
    position: relative;
  margin-top:-5.5% ;
    border: 0.2px solid rgb(232, 223, 223);
    background-color: rgb(255, 255, 255);
  }
  
  .imageTextContainer p{
    margin-top: 20px;
    margin-left: 14px;
    color: rgb(62, 59, 59);
    font-size: 20px;
    text-align: left;
    text-transform: capitalize;
    /* font-family: 'Secular One', sans-serif; */
    font-family: 'Roboto Condensed';

    font-weight: bold;
  }
  
  .starr{
    margin-left:120px ;
    margin-top: 10px;
  }
  
  #course-star-line{
    width: 100%;
  }
  #star p{
    margin: 0px 10px;
    text-align: left;
    font-size:  17px;
    color: rgb(123, 123, 219);
  } 
  #star p span{
    font-size: 10px;
    margin-bottom: 0%;
    color: black;
  }
  
  /* footer */
  
  footer{
    position: relative;
    top: 150px;
  }
  .footerHome{
    position: absolute;
    background-color: #302d2d;
    margin-top: 5%;
    height: 540px;
    width: 100%;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
    
   }
  
   .footerflex{
    font-weight: 400;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 15px;
   }
   #footerlist .footerr{
    list-style: none;
    padding: 5px 0 ;
   }
  
   #footerlist .footerr a{
    position: relative;
    top: 30px;
    left: -50px;
     text-transform: capitalize;
     font-size: 16px;
     color: white;
    }
  
    .footerr:hover a{
      color: white;
      text-decoration:  white;
    }
  
  .copywrite{
    position: absolute;
    color: white;
    font-weight: bold;
    left: 44%;
    top: 500px;
  }
  